$color-blue  : rgb(84, 94, 102);
$color-footer-backgroundcolor  : rgba(24, 62, 119, 0.685);
$color-whitey: rgb(170, 203, 235);
$color-browney: rgba(202, 194, 144, 1);
$color-contact-data: rgb(136, 197, 38);
$color-logo: rgba(160, 13, 37, 0.842);