@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&family=Satisfy&display=swap');


// font-family: 'Open Sans', sans-serif;
// font-family: 'Satisfy', cursive;

$font-logo: 'Satisfy', cursive;
$font-base: 'Open Sans', sans-serif;
$font-alt: 300;
$font-regular: 400;
$font-bold: 700;