.header {
    &_logo {
        font-size  : 3.5rem;
        text-align : center;
        font-family: $font-logo;
        color: $color-logo;

        cursor: default;

        position: fixed;
        z-index: 5;
        top: 10%;
    }
}